@model XCommsWeb.Models.TamlpateModel
@using XCommsWeb.Models;
@using ServerWeb.Helper;
<style type="text/css">
    .modal-content {
        border-bottom: 5px solid #e5e5e5;
        border-top: 5px solid #e5e5e5;
        border-left: 5px solid #e5e5e5;
        border-right: 5px solid #e5e5e5;
    }

    .modal-header {
        border-bottom: 5px solid #e5e5e5 !important;
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="background-color: black;color: aliceblue;margin: -11px;padding: 2px;">X</button>
        <h4 class="modal-title" id="myModalLabel">@Html.Raw(Model.TemplateTitle)</h4>
    </div>
    <div class="dl-horizontal" style="margin: 20px;">
        @Html.Raw(@Model.TemplateBody)
    </div>
</div>
