@model XCommsWeb.Models.AlertStep2ViewModel
@using ServerWeb.Helper;
 <tr class="editorRow">
            <td class="text-center" colspan="6">
               No Record Found
            </td>
 </tr>



