@{
    ViewBag.Title = "Support Knowledge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    video {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px solid #CCC;
    }

    .Alert {
        background-color: #254061 !important;
        color: #FFF !important;
    }

    .Ticker {
        background-color: #640000 !important;
        color: #FFF !important;
    }

    .WP {
        background-color: #10253F !important;
        color: #FFF !important;
    }

    .SS {
        background-color: #403152 !important;
        color: #FFF !important;
    }

    .LS {
        background-color: #A85008 !important;
        color: #FFF !important;
    }

    .QUIZ {
        background-color: #4D862E !important;
        color: #FFF !important;
    }

    .XOD {
        background-color: #404040 !important;
        color: #FFF !important;
    }

    @@media screen and (max-width: 1600px) {
        .xcommsToolbar {
            font-size: 9px;
        }
        .panel-heading{
            padding:5px !important;
        }
    }

    @@media screen and (max-width: 1400px) {
        .xcommsToolbar {
            font-size: 8px;
        }
    }

    @@media screen and (max-width: 1200px) {
        .xcommsToolbar {
            font-size: 6px;
        }
    }

    .TxtVerticalAlign {
        vertical-align: middle !important;
    }

    .MainBox {
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
    }
</style>

<section id="widget-grid">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-graduation-cap"></i> </span>
                    <h2>Knowledge Base</h2>
                </header>
                <div class="widget-body MainBox">

                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <!-- well -->
                        <div class="">
                            <div id="myCarousel-2" class="carousel fade">
                                <ol class="carousel-indicators" style="display:none">
                                    <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                                    <li data-target="#myCarousel-2" data-slide-to="1" class=""></li>
                                    <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
                                    <li data-target="#myCarousel-2" data-slide-to="3" class=""></li>
                                    <li data-target="#myCarousel-2" data-slide-to="4" class=""></li>
                                    <li data-target="#myCarousel-2" data-slide-to="5" class="active"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <!-- Slide 1 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner8.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 2 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner7.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 3 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner2.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 4 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner3.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 5 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner4.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 6 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner5.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 7 -->
                                    <div class="item">
                                        <img src="~/assets/img/ClientInstaller/Banner6.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                    <!-- Slide 8 -->
                                    <div class="item active">
                                        <img src="~/assets/img/ClientInstaller/Banner1.png" alt="XComms Support Center" class="img-responsive" width="100%" height="100%" />
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel-2" data-slide="prev" style="display:none"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                                <a class="right carousel-control" href="#myCarousel-2" data-slide="next" style="display:none"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                            </div>
                        </div>
                        <!-- end well-->
                        <br /><br />
                    </div>

                    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="~/assets/img/Screen/Support/BannerSupport.png" class="img-responsive" style="height: inherit; width: inherit; " />
                    </div>*@

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                                    <header role="heading">
                                        <div class="jarviswidget-ctrls" role="menu"></div>
                                        <h2> <i class="fa fa-video-camera"></i> How To Videos </h2>
                                    </header>
                                    <div>
                                        <div class="widget-body no-padding">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading Alert">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-exclamation-circle"></i> Send a PopUp Alert
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/How to Send a Pop Up Alert.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-greenLight">
                                                        <div class="panel-heading Ticker">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-ellipsis-h"></i> Send a Scrolling Ticker
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/How to Send a Scrolling Ticker.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading WP">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-desktop"></i> Manage Wallpaper Backgrounds
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/How to Manage Wallpaper Backgrounds.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-purple">
                                                        <div class="panel-heading ss">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-desktop"></i> Manage ScreenSavers
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/How to Manage ScreenSavers.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-redLight">
                                                        <div class="panel-heading LS">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-desktop"></i> Manage Locked Screen Backgrounds
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/How to Manage Locked Screen Backgrounds.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-teal">
                                                        <div class="panel-heading QUIZ">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-comments"></i> Use Interactive Tools
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/How to Use Interactive Tools.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading XOD">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-bolt"></i> XComms On Demand - Coming Soon
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/XComms On Demand Teaser.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading XOD">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-lg fa-fw fa fa-th"></i> Nexus Alert Hub Setup - Coming Soon
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/XComms Nexus.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading XOD">
                                                            <span class="xcommsToolbar">
                                                                <i class="fa fa-mobile"></i> XComms On The Go - Coming Soon
                                                            </span>
                                                        </div>
                                                        <div class="panel-body no-padding text-align-center">
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <video controls preload="auto" src="~/KnowledgeBase/video/XComms On The Go.mp4" height="210"></video>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <article>
                                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                                        <header role="heading">
                                            <div class="jarviswidget-ctrls" role="menu"></div>
                                            <h2 style="width:auto !important;"> <i class="fa fa-rocket"></i> Getting Started With XComms</h2>
                                        </header>
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="XComms Quick Start Guide" data-content="Setup Platform Access and Desktop Client Installation.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/XComms Quick Start Guide.pdf" target="_blank">XComms Quick Start Guide</a>
                                                </li>             
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <article>
                                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                                        <header role="heading">
                                            <div class="jarviswidget-ctrls" role="menu"></div>
                                            <h2 style="width:auto !important;"> <i class="fa fa-users"></i> Content Managers</h2>
                                        </header>
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="USING THE XCOMMS POP-UP ALERT TOOLS" data-content="Sending an XComms Pop-up Alert is a two-step process. First you will create your content and second you will select your target audience.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/Pop Up Alert User Guide.pdf" target="_blank">Pop Up Alert User Guide</a>
                                                </li>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="USING THE XCOMMS TICKER ALERT TOOL" data-content="Sending an XComms Ticker Alert is a two-step process. First you will create your content and second you will select your target audience.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/Ticker Alert User Guide.pdf" target="_blank">Ticker Alert User Guide</a>
                                                </li>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="USING THE XCOMMS WALLPAPER MANAGEMENT TOOL" data-content="Sending an XComms Wallpaper Background is a two-step process. First you will upload your content and second you will select your target audience.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/Wallpaper Management User Guide.pdf" target="_blank">Wallpaper Management User Guide</a>
                                                </li>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="USING THE XCOMMS LOCKED SCREEN MANAGEMENT TOOL" data-content="Sending an XComms Locked Screen Background is a two-step process. First you will upload your content and second you will select your target audience.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/Locked Screen Management User Guide.pdf" target="_blank">Locked Screen Management User Guide</a>
                                                </li>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="USING THE XCOMMS SCREENSAVER MANAGEMENT TOOL" data-content="Sending an XComms Screensaver is a two-step process. First you will upload your content and second you will select your target audience.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/Screensaver Management User Guide.pdf" target="_blank">Screensaver Management User Guide</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <article>
                                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                                        <header role="heading">
                                            <div class="jarviswidget-ctrls" role="menu"></div>
                                            <h2 style="width:auto !important;"> <i class="fa fa-user"></i> System Administrators</h2>
                                        </header>
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="Getting Started With XComms" data-content="Setup Platform Access and Desktop Client Installation.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/XComms Quick Start Guide.pdf" target="_blank">Get Started With XComms</a>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="USING THE XCOMMS ACTIVE DIRECTORY TOOL" data-content="The XComms AD Auto Synchronization Tool allows you to securely retrieve attributes and groups membership for XComms users and machines.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/Active Directory Synchronization Tool.pdf" target="_blank">Active Directory Synchronization Tool</a>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="HOW TO CREATE DESKTOP SHORTCUTS FOR XCOMMS ALERTS" data-content="Utilize XComms to generate a convenient shortcut for any XComms alert and place on any desktop. Works with the XComms Now Button and the XComms Nexus Alert Hub.">
                                                    <i class="fa fa-file-pdf-o fa-lg txt-color-red"></i> &nbsp;&nbsp; <a href="~/KnowledgeBase/pfd/XComms Desktop Shortcut Creation Guide.pdf" target="_blank">Create Desktop Shortcuts For XComms Alerts</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <article>
                                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                                        <header role="heading">
                                            <div class="jarviswidget-ctrls" role="menu"></div>
                                            <h2 style="width:auto !important;"> <i class="fa fa-bullhorn "></i> New From XComms</h2>
                                        </header>
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="XComms On Demand" data-content="Get your employees attention faster and more conventiently than ever before with multiple alert deployment options.">
                                                    <i class="fa fa-bolt fa-lg txt-color-green"></i> &nbsp;&nbsp; <a href="https://www.xcomms.com/on-demand-alerting" target="_blank">On Demand Alert Deployment Tools</a>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="XComms On The Go" data-content="Assign your On Demand alerts to a mobile app and allow individuals you select to have the ability to deploy your instant alerts with a simple tap of an icon.">
                                                    <i class="fa fa-mobile fa-lg txt-color-green"></i> &nbsp;&nbsp; <a href="https://www.xcomms.com/on-the-go" target="_blank">XComms On The Go Mobile App</a>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="XComms Now Button" data-content="Send instant alerts to any screen in real time with a simple push of a physical button attached to a PC.">
                                                    <i class="fa fa-dot-circle-o fa-lg txt-color-green"></i> &nbsp;&nbsp; <a href="https://www.xcomms.com/desktop-panic-button" target="_blank">XComms Now Button (Physical Device)</a>
                                                <li class="list-group-item" rel="popover-hover" data-placement="left" data-original-title="XComms Nexus" data-content="Trigger your pre-designed alerts to deploy to your pre-determined recipients with a push of a key on your own fully cusomizable alert control board">
                                                    <i class="fa fa-th fa-lg txt-color-green"></i> &nbsp;&nbsp; <a href="https://www.xcomms.com/nexus" target="_blank">XComms Nexus Alert Hub (Physical Device)</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        return {
            //main function to initiate the module
            init: function (DomainName) {
                $('.carousel.slide').carousel({
                    interval: 5000,
                    cycle: true
                });
                $('.carousel.fade').carousel({
                    interval: 5000,
                    cycle: true
                });
            }
        }
    }();
</script>