@model IEnumerable<XCommsWeb.Models.CustomerViewModel>
@using XCommsWeb.Models;
@using XCommsWeb.Classes;

@{
    XCommsWeb.MasterService MS = new XCommsWeb.MasterService();
    List<CYGNUS_Master_General> ListModules = MS.GetGeneralMasterList().Where(c => c.CodeType == "PERMISSIONTYPE" && c.StatusCode == "Y").ToList();
}

<table class="table table-striped table-bordered table-hover table-responsive" id="dtPopAlertAnaly" style="overflow:scroll" border="1">
    <thead>
        <tr>
            <th class="text-center TxtVerAlign"><b>Menu Right</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            for (int i = 0; i < item.ModuleId.Split(',').Length; i += 3)
            {
                int j = 0;

                for (; j <= 2 && i + j < item.ModuleId.Split(',').Length; j++)
                {
                    int k = @j + @i;
                    <tr class="text-center TxtVerAlign">
                        @*<td class="text-center">@item.ModuleId.Split(',')[k]</td>*@
                        <td>
                            @ListModules.Where(c => c.CodeId == @item.ModuleId.Split(',')[k]).Select(x => x.CodeDesc).FirstOrDefault()
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

