<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            @*<img src="~/Content/SmartAdmin/img/sunny.png" alt="me" class="online" />*@
            <i class="fa fa-lg fa-fw fa-user txt-color-white"></i>
            <span style="color:#FFF;">@User.Identity.Name.ToLower()</span>
            @*<i class="fa fa-angle-down"></i>*@
        </a>
    </span>
</div>
